<div class="">
  <div class="col-12">
    <form action="" class="simple_form_customers">
      <div class="row">
        <div class="col-12">
          <label for="supplier_name" style="font-weight: bold; font-size: 13px;">Nom du groupe :</label>
          <%= @band.name %>
        </div>
      </div>
    </form>
    <%= link_to "back", bands_path %>
  </div>
</div>